.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 50vh;
  }
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: rotateLoader 1s infinite linear;
  }
  @keyframes rotateLoader {
    to {
      transform: rotate(1turn);
    }
  }
