{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CrimeAnalysis</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/mystyle.css' %}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
</head>

<body>
  <div class="container-scroller">
    {% include 'components/navbar.html' %}
    <div class="container-fluid page-body-wrapper" style="height: 100vh">
      {% include 'components/sidebar.html' %}
      <div class="main-panel main-div ">
        {% if msg %}
        <div class="alert alert-success alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>{{ msg }}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if err %}
        <div class="alert alert-danger alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>{{ err }}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Search Crime </h3>
            <nav aria-label="breadcrumb">
              {% comment %} <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search</li>
              </ol> {% endcomment %}
            </nav>
          </div>
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Search Record</h4>
                <p class="card-description"> Use the filters below to search for records</p>
                <form class="form-inline" method="post" action="/searchcrime/">
                  {% csrf_token %}
                  <div class="d-flex w-100">
                    
                    <div class="form-group mx-sm-3 mb-2 col-8">
                      <label for="searchInput" class="sr-only">Search Term:</label>
                      <input type="text" class="form-control" id="searchInput" name="searchInput"
                        placeholder="Enter search term" required>
                    </div>
                    <div class="form-group mb-2 ">
                      <label for="filterCriteria" class="sr-only">Filter By:</label>
                      <select class="form-control" id="filterCriteria" name="filterCriteria">
                        <option value="firno">FIR Number</option>
                        <option value="name">Name/Type of Crime/Police Station</option>
                        <!-- Add more options based on your database fields -->
                      </select>
                    </div>
                  </div>
                  <button type="submit" id="fir-submit" class="btn btn-gradient-primary ms-3">Submit</button>
                </form>
                  <div id="searchCrimeResult">
                                
                  </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free </span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/file-upload.js' %}"></script>
  <!-- End custom js for this page -->
  {% comment %} <script>
    // Dynamically change input type based on filter selection
    document.getElementById('filterCriteria').addEventListener('change', function () {
        var searchInput = document.getElementById('searchInput');
        if (this.value === 'firno') {
            searchInput.type = 'number';
            document.getElementById('fir-submit').style.display = "block";
        } else {
            searchInput.type = 'text';
            document.getElementById('fir-submit').style.display = "none";
        }
    });

    $(document).ready(function () {
        // Attach an event handler to the search input field
        $("#searchInput").on("input", function () {
            // Get the search term entered by the user
            var searchTerm = $(this).val();

            if (document.getElementById('fir-submit').style.display == "none") {
                // Perform AJAX request to fetch search results
                $.ajax({
                    type: "GET",
                    url: "/searchcrimeresult.html/",  // Update with your Django view URL
                    data: { search_term: searchTerm },
                    success: function (data) {
                        // Update the content of the searchCrimeResult div with the returned data
                        console.log(data);

                        // Empty the searchCrimeResult div before appending new results
                        $("#searchCrimeResult").empty();
                        // Your jQuery code to iterate through the list of dictionaries
                        text='<form class="form-sample" action="/showupdate_combined/" method="post" id="crime-form">{% csrf_token %}<div class="a">Type of Crime : {{ data.0.crime_types }}</div><table><thead>  <tr>  <td>FIR NUMBER</td><td>First Name</td>  <td>Last Name</td>  <td>Type_of_Crime</td>  <td>Police_Station</td>  <td>TIME</td>  <td>SHOW</td>  </tr></thead>'
                        count = 0
                        $.each(data.results, function(index, value) {
                            // Access dictionary keys and values as needed
                            //console.log(dict.FIR_No, dict.First_Name, dict.Last_Name);
                            // Append each result one by one to the div
                            //$("#searchCrimeResult").append("<div class='chart-frame m-auto pb-2'>" + value + "</div>");
                            text = text+'<tbody>  <tr>  <td> ' +value[0]+'</td>  <td>' +value[1]+'</td>  <td>' +value[2]+'</td>  <td>' +value[3]+'</td>  <td>' +value[4]+'</td><td>    <a href="/displaycrime/?param1='+value[0]+'">      SHOW  </a></td></tr></tbody>'
                              
                            count = count + 1
                            //console.log(dict.key1, dict.key2);

                        });

                        text = text + '</table></form>'
                        console.log("*******************************"+text)
                        $("#searchCrimeResult").append(text)

                        if(count == 0){
                          $("#searchCrimeResult").html("No Matching Result..!");
                        }
                    }
                });
            }
        });
    });
</script> {% endcomment %}
<script>
  document.getElementById('filterCriteria').addEventListener('change', function () {
    var searchInput = document.getElementById('searchInput');
    if (this.value === 'firno') {
      searchInput.type = 'number';
      document.getElementById('fir-submit').style.display = "block";
    } else {
      searchInput.type = 'text';
      document.getElementById('fir-submit').style.display = "none";
    }
  });

  $(document).ready(function () {
    $("#searchInput").on("input", function () {
      var searchTerm = $(this).val();

      if (document.getElementById('fir-submit').style.display == "none") {
        $.ajax({
          type: "GET",
          url: "/searchcrimeresult.html/",
          data: { search_term: searchTerm },
          success: function (data) {
            $("#searchCrimeResult").empty();
            var text = '<form class="form-sample" action="/showupdate_combined/" method="post" id="crime-form">{% csrf_token %}' +
              '<div class="a">Type of Crime : {{ data.0.crime_types }}</div>' +
              '<table class="table table-bordered table-hover shadow-sm mt-3">' +
              '<thead class="thead-dark"><tr>' +
              '<th>FIR NUMBER</th><th>First Name</th><th>Last Name</th>' +
              '<th>Type of Crime</th><th>Police Station</th><th>Actions</th>' +
              '</tr></thead>';
            var count = 0;

            $.each(data.results, function (index, value) {
              text += '<tbody><tr>' +
                '<td>' + value[0] + '</td>' +
                '<td>' + value[1] + '</td>' +
                '<td>' + value[2] + '</td>' +
                '<td>' + value[3] + '</td>' +
                '<td>' + value[4] + '</td>' +
                '<td>' +
                '<a href="/displaycrime/?param1=' + value[0] + '" class="btn btn-info btn-sm">Additional Info</a>' +
                '</td>' +
                '</tr></tbody>';
              count += 1;
            });

            text += '</table></form>';

            $("#searchCrimeResult").append(text);

            if (count === 0) {
              $("#searchCrimeResult").html("<p class='text-danger mt-3'>No Matching Result..!</p>");
            }
          }
        });
      }
    });
  });
</script>
</body>

</html>
{% endblock %}





<!-- partial:partials/_navbar.html -->
    {% comment %} <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href=" "><img style="width:10rem; height:3rem;" src="{% static 'assets/images/basic/CA.png'%}" alt="logo"  /></a>
        <a class="navbar-brand brand-logo-mini" href=" "><img src="{% static 'assets/images/logo-mini.svg'%}"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="{% static 'assets/images/faces/face1.jpg'%}" alt="image" />
                <span class="availability-status online"></span>
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black"></p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-logout me-2 text-primary"></i> Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
          <li class="nav-item nav-logout d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-power"></i>
            </a>
          </li>
          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-format-line-spacing"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav> {% endcomment %}


    <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    
      <!-- partial:partials/_sidebar.html -->
      {% comment %} <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html/">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
              aria-controls="ui-basic">
              <span class="menu-title">Crime Details</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/RegisterCrime.html/">Register Crime</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/UpdateCrime.html/">Update Crime</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/SearchCrime.html/">Search Record</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/ShowCrime.html/">List Record</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="chartjs.html">
              <span class="menu-title">Charts</span>
              <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="basic-table.html">
              <span class="menu-title">List of Crime </span>
              <i class="mdi mdi-table-large menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false"
              aria-controls="general-pages">
              <span class="menu-title">User Details</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="general-pages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register.html">
                    Register New User
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-404.html">
                    Delete User
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-500.html">
                    Update User Passwod
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item sidebar-actions">
            <span class="nav-link">
              <div class="border-bottom">
                <h6 class="font-weight-normal mb-3">Crime</h6>
              </div>
              <button class="btn btn-block btn-lg btn-gradient-primary mt-4" onclick="window.location.href ='/RegisterCrime.html/';">
                + Add a Crime
              </button>
              <div class="mt-4">
                <div class="border-bottom">
                  <p class="text-secondary"></p>
                </div>
              </div>
            </span>
          </li>
        </ul>
      </nav> {% endcomment %}