
{%load static%} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CrimeAnalysis</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}" />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />
    <!-- MyStyle css -->
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css'%}" />
  <style>
    .a{
      text-align : center;
      padding-right : 10%;
      font-size:30px;
    }

    thead{
      font-weight : bold;
    }
    table {
      border-collapse: separate;
      border-spacing: 0 2vh; 
    }

    td,tr{
        padding-right : 10vw;
        border-bottom: 1px solid black;
        margin-bottom : 20vh; 
    }


  </style>

  

</head>

<body>
 
  <div class="container-scroller">
      {% include 'components/navbar.html' %}

      
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="height: 100vh">
      <!-- partial:partials/_sidebar.html -->
      {% include 'components/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel main-div ">
        {%if msg%}
        <div class="alert alert-success alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{msg}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {%if err%}
        <div class="alert alert-danger alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{err}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">{{ status }}</h3>
            <h3 class="page-title"> Crime Details </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
              </ol>
            </nav>
          </div>
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
          <form class="form-sample" action="/showupdate_combined/" method="post" id="crime-form">{% csrf_token %}
          
            
            <div class="a">Type of Crime : {{ data.0.crime_types }}</div>
           
            
            <table>
              {% if data %}
              <thead>
                <tr>
                <td>FIR NUMBER</td>
                <td>DATE</td>
                <td>PLACE</td>
                <td>TIME</td>
                <td>SHOW</td>
                </tr>
              </thead>
              {% for c in data %}
              <tbody>
                <tr>
                <td>{{c.fir_no}}</td>
                <td>{{c.date_of_crime}}</td>
                <td>{{c.crime_spot}}</td>
                <td>{{c.time_period_of_crime}}</td>
                <td>
                  <a href="{% url 'main:displaycrime' param1=c.fir_no %}">
                    SHOW
                </a>
            </td>
                </tr>
              </tbody>
              {% endfor %}
              {%endif%}
            </table>
          </form>
            
           

        
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">
              Free
            </span>
          </div>
        </footer>
      </div>
    </div>
    <!-- partial -->
  </div>
 

  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>

  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js'%}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'assets/js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/file-upload.js'%}"></script>
  <script src="{% static 'assets/js/myjs.js'%}"></script>
  <!-- End custom js for this page -->
  
</div>


</body>

</html>
{%endblock%}