{% comment %} {%load static%} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CrimeAnalysis</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}" />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />
    <!-- MyStyle css -->
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css'%}" />


</head>

<body class="bg-white ">
  <div class="container-scroller bg-white ">
      {% include 'components/navbar.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="height: 100vh">
      <!-- partial:partials/_sidebar.html -->
      {% include 'components/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel main-div bg-white">
        {%if msg%}
        <div class="text-center alert alert-success alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{msg}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {%if err%}
        <div class="text-center alert alert-danger alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{err}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
            <div class="content-wrapper d-flex align-items-center auth p-0" style="background-color:white !important;">
              
              <div class="row flex-grow bg-white">
                <div class=" mx-auto bg-white">
                  <div class="auth-form-light text-left py-1 bg-white ">
                    
                    <div class="brand-logo mt-4" style="text-align:center;">
                      <h1>Select Crime to Update Record</h1>
    
                    </div>
                    <!-- <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6> -->
                    
                    <div class="col-lg-8 col-10 m-auto">
                      <form action="/criminaldetail.html/" method="post">{% csrf_token %}
                        <table class="" style="" id="view_users">
                          <tr class="" style="border-bottom: 1px solid #36454F;">
                            <th class="p-2 pe-4 col-2  ">First Name</th>
                            <th class="p-2 pe-4 col-2  ">Last Name</th>
                            <th class="p-2 pe-4 col-2  ">Crime</th>                           
                          </tr>
                          {% for criminal in criminals_data %}
                          <tr class="" style="border-bottom: 1px solid #9b9b9b;">
                              <td class="p-2 pe-4 col-2">{{ criminal.first_name }}</td>
                              <td class="p-2 pe-4 col-2">{{ criminal.last_name }}</td>
                              <td class="p-2 pe-4 col-2">
                                {% for crime_type in criminal.crime_types %}
                                    <a href="{% url 'main:showupdate' param1=criminal.first_name param2=criminal.last_name param3=crime_type %}">
                                        {{ crime_type }}<br>
                                    </a>
                                {% endfor %}
                            </td>
                              
                          </tr>
                      {% endfor %}

                        </table>
                      </form> 
                    </div>
                        
                  </div>
                </div>
            <!-- content-wrapper ends -->
            </div>
            
          <!-- page-body-wrapper ends -->
        </div>
    
          
        
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">
              Free
            </span>
          </div>
        </footer>
      </div>
    </div>
    <!-- partial -->
  </div>



  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>

  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js'%}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'assets/js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/file-upload.js'%}"></script>
  <script src="{% static 'assets/js/myjs.js'%}"></script>
  <!-- End custom js for this page -->
</div>
</body>

</html>
{%endblock%} {% endcomment %}

{% comment %} 
{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>CrimeAnalysis</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />
    <!-- MyStyle css -->
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/loader.css'%}" />
</head>

<body class="bg-white">
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <div class="container-scroller bg-white ">
        {% include 'components/navbar.html' %}

        <div class="container-fluid page-body-wrapper" style="height: 100vh">
            {% include 'components/sidebar.html' %}

            <div class="main-panel main-div bg-white">
                {% if msg %}
                <div class="text-center alert alert-success alert-dismissible fade show m-0 shadow ps-5" role="alert">
                    <h3>{{msg}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %} {% if err %}
                <div class="text-center alert alert-danger alert-dismissible fade show m-0 shadow ps-5" role="alert">
                    <h3>{{err}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

                <div class="content-wrapper d-flex align-items-center auth p-0" style="background-color:white !important;">
                    <div class="row flex-grow bg-white">
                        <div class="mx-auto bg-white">
                            <div class="auth-form-light text-left py-1 bg-white">
                                <div class="brand-logo mt-4 text-center">
                                    <h1>Select Crime to Update Record</h1>
                                </div>
                                <div class="col-lg-8 col-10 m-auto">
                                    <form action="/criminaldetail.html/" method="post">
                                        {% csrf_token %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-fixed">
                                                <thead class="thead-dark">
                                                    <tr class="bg-dribbble text-black-100 fs-4 mx-auto">
                                                        <th class="py-3 p-5">FIRST NAME</th>
                                                        <th class="py-3 p-5">LAST NAME</th>
                                                        <th class="py-3 p-5">CRIME DETAILS</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                    {% for criminal in criminals_data %}
                                                    <tr class="{% cycle 'bg-white' 'bg-light' %}">
                                                        <td>{{ criminal.first_name }}</td>
                                                        <td>{{ criminal.last_name }}</td>
                                                        <td class="d-flex flex-wrap text-center">
                                                            {% for crime_type in criminal.crime_types %}
                                                            <button class="btn btn-outline-primary btn-sm mb-2 me-4 justify-content-evenly" type="button" data-bs-toggle="modal" data-bs-target="#crimeDetailsModal{{ forloop.counter }}">
                                                                {{ crime_type }}
                                                            </button> {% endfor %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
                        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">
                            Free
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="{% static 'assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'assets/js/misc.js'%}"></script>
    <script src="{% static 'assets/js/file-upload.js'%}"></script>
    <script src="{% static 'assets/js/myjs.js'%}"></script>
    <script src="{% static 'assets/js/loader.js'%}"></script>
</body>

</html>

{% endblock %} {% endcomment %}


{% load static %} 

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CrimeAnalysis</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/mystyle.css' %}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
  <style>
    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
    }
    
    .page-circle {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #3498db;
      color: #fff;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      margin: 0 5px;
    }
    
    .page-circle.active {
      background-color: #fff;
      color: #3498db;
    }
    
    .prev,
    .next {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    #pageCircles {
      display: flex;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    {% include 'components/navbar.html' %}
    <div class="container-fluid page-body-wrapper" style="height: 100vh">
      {% include 'components/sidebar.html' %}
      <div class="main-panel main-div ">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Criminal Details </h3>
          </div>
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                {% comment %} <h4 class="card-title">Search Record</h4>
                <p class="card-description"> Use the filters below to search for records</p> {% endcomment %}
                <!-- Your search form goes here -->
                <form action="/criminaldetail.html/" method="post">
                  {% csrf_token %}
                  {% comment %} <div class="d-flex w-100">
                    <div class="form-group mx-sm-3 mb-2 col-8">
                      <label for="searchInput" class="sr-only">Search Term:</label>
                      <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Enter search term" required>
                    </div>
                  </div>
                  <!-- This div will be populated with search results -->
                  <div id="searchCrimeResult"></div> {% endcomment %}

                  <!-- Table to display criminals -->
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-fixed">
                      <thead class="thead-dark">
                        <tr class="bg-dribbble text-black-100 fs-4 mx-auto">
                          <th class="py-3 p-5">FIRST NAME</th>
                          <th class="py-3 p-5">LAST NAME</th>
                          <th class="py-3 p-5">CRIME DETAILS</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                       
        
                        {% for criminal in  page_obj%}
                        <tr class="{% cycle 'bg-white' 'bg-light' %}">
                          <td>{{ criminal.First_Name }}</td>
                          <td>{{ criminal.Last_Name }}</td>
                          <td class="d-flex flex-wrap text-center">
                            {% comment %} {% for crime_type in criminal.Type_of_Crime %}
                                <a class="btn btn-outline-primary btn-sm mb-2 me-4 justify-content-evenly" href="{% url 'main:showupdate' param1=criminal.First_Name param2=criminal.Last_Name param3=crime_type %}">
                                    {{ crime_type }}<br>
                                </a>
                            {% endfor %} {% endcomment %}
                            <a class="btn btn-outline-primary btn-sm mb-2 me-4 justify-content-evenly" href="{% url 'main:showupdate' param1=criminal.First_Name param2=criminal.Last_Name param3=criminal.Type_of_Crime %}">
                              {{ criminal.Type_of_Crime }}<br>
                          </a>
                          </td>
                        </tr>
                        {% endfor %}
                      
                       
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       <!-- Pagination -->
<div class="pagination">
  {% if page_obj.has_previous %}
      <a href="?page=1" class="prev">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="prev">Previous</a>
  {% endif %}

  <div id="pageCircles" class="flex-wrap">
      {% for num in page_obj.paginator.page_range %}
          <div class="page-circle {% if num == page_obj.number %}active{% endif %}" onclick="changePage({{ num }})">{{ num }}</div>
      {% endfor %}
  </div>

  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="next">Last &raquo;</a>
  {% endif %}
</div>
<!-- End Pagination -->

        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">
              Free
            </span>
          </div>
        </footer>
      </div>
    </div>
    <!-- partial -->
  </div>
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/file-upload.js' %}"></script>
  <script>
    document.getElementById('searchInput').addEventListener('input', function () {
      var searchTerm = $(this).val();
  
      $.ajax({
        type: "GET",
        url: "/searchcrimeresult.html/",
        data: { search_term: searchTerm },
        success: function (data) {
          $("#searchCrimeResult").empty();
          var text = '<form class="form-sample" action="/showupdate_combined/" method="post" id="crime-form">{% csrf_token %}' +
            '<div class="a">Type of Crime : {{ data.0.crime_types }}</div>' +
            '<table class="table table-bordered table-hover shadow-sm mt-3">' +
            '<thead class="thead-dark"><tr>' +
            '<th>First Name</th><th>Last Name</th>' +
            '<th>Type of Crime</th><th>Actions</th>' +
            '</tr></thead>';
          var count = 0;
  
          $.each(data.results, function (index, value) {
            text += '<tbody><tr>' +
              '<td>' + value[1].toUpperCase()  + '</td>' +  
              '<td>' + value[2].toUpperCase()  + '</td>' +
              '<td>' + value[3].toUpperCase()  + '</td>' +
              '<td>' +
              '<a href="showupdate/' + value[1].toUpperCase()  + '/' + value[2].toUpperCase()  + '/' + value[3].toUpperCase() + '">Additional Info</a>' +
              '</td>' +
              '</tr></tbody>';
            count += 1;
          });
          
  
          text += '</table></form>';
  
          $("#searchCrimeResult").append(text);
  
          if (count === 0) {
            $("#searchCrimeResult").html("<p class='text-danger mt-3'>No Matching Result..!</p>");
          }
        }
      });
    });
  </script>
  
</body>

</html>

{% endblock %}