{%load static%} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CrimeAnalysis</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}" />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />
    <!-- MyStyle css -->
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css'%}" />


</head>

<body class="bg-white ">
  
  <div class="container-scroller bg-white ">
      {% include 'components/navbar.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="height: 100vh">
      <!-- partial:partials/_sidebar.html -->
      {% include 'components/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel main-div bg-white">
        {%if msg%}
        <div class="text-center alert alert-success alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{msg}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {%if err%}
        <div class="text-center alert alert-danger alert-dismissible fade show m-0 shadow ps-5" role="alert">
          <h3>
              {{err}}
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
            <div class="content-wrapper d-flex align-items-center auth p-0" style="background-color:white !important;">
              
              <div class="row flex-grow bg-white">
                <div class=" mx-auto bg-white">
                  <div class="auth-form-light text-left py-1 bg-white ">
                    
                    <div class="brand-logo mt-4" style="text-align:center;">
                      {% comment %} <img src="{%static 'assets/images/logo.svg' %}"> {% endcomment %}
                      <h1>View Users</h1>
    
                    </div>
                    <!-- <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6> -->
                    
                    {% comment %} <div class="col-lg-8 col-10 m-auto">
                        <table class="" style="" id="view_users">
                          <tr class="" style="border-bottom: 1px solid #36454F;">
                            <th class="p-2 pe-4 col-2  ">Username</th>
                            <th class="p-2 pe-4 col-2  ">Email</th>
                            <th class="p-2 pe-4 col-2  ">Password</th>
                            <th class="p-2 pe-4 col-2  ">Status</th>
                            <th class="p-2 pe-4 col-2  ">Type</th>  
                            <th class="p-2 pe-4 col-2  ">Update</th>                           
                          </tr>
                          {% for user in data_list %}
                          
                          <form action="" method="post">{% csrf_token %}
                            <tr class="" style="border-bottom: 1px solid #9b9b9b;">
                              <td class="p-2 pe-4 col-2  ">{{ user.Username }}</td>
                              <td class="p-2 pe-4 col-2  ">{{ user.Email }}</td>
                              <td class="p-2 pe-4 col-2  ">{{ user.Password }}</td>
                              {%if user.Status == 'Activated'%}
                              <td class="p-2 me-4 col-2">
                                <button name="deactivate_{{ user.Username }}" class="btn bg-danger  mb-2 w-100 text-white  " style="background-color: #fb3030;  color: white;"   type="submit" {%if user.Username == request.session.user%}disabled{%endif%}>Deactivate</button>
                              </td>
                              {%elif user.Status == 'Deactivated'%}
                              <td class="p-2 me-4 col-2">
                                <button name="activate_{{ user.Username }}" class="btn bg-success  mb-2 w-100 text-white  " type="submit">Activate</button>
                              </td>{%endif%}

                              {%if user.utype == 'admin'%}
                              <td class="p-2 me-4 col-2">
                                <button name="admin_{{ user.Username }}" class="btn mb-2 w-100 text-white" style="background-color: grey;  color: white;" type="submit" {%if user.Username == request.session.user%}disabled{%endif%}>Make Normal</button>
                              {%elif user.utype == 'normal'%}
                              <td class="p-2 me-4 col-2">
                               <button name="normal_{{ user.Username }}" class="btn  mb-2 w-100 text-white " style="background-color: #81dedb;" type="submit">Make Admin</button>
                              </td>{%endif%}
                              
                              <td class="p-2 me-4 col-2">
                                    <a class="btn mb-2 w-100 text-white" style="background-color: #ffa927; color: white;" style="text-decoration:none; color:white;" href="/updateuser.html?uname={{user.Username}}">Update</a>
                              </td>
                                                      
                          
                            </tr>
                          </form>
                          {% endfor %}
                                  
                        </table>
                    </div> {% endcomment %}
                    <div class="container">
                      <!-- <h2 class="text-center mb-4">User Management</h2> -->
                      <table class="table table-bordered table-striped text-dark">
                          <thead class="thead-dark">
                              <tr>
                                  <th scope="col">Username</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Password</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Update</th>
                              </tr>
                          </thead>
                          <tbody class="fw-bold fs-3 bg-white">
                              {% for user in data_list %}
                              <form action="" method="post">
                                  {% csrf_token %}
                                  <tr>
                                      <td>{{ user.Username }}</td>
                                      <td>{{ user.Email }}</td>
                                      <td>{{ user.Password }}</td>
                                      <td>
                                          {% if user.Status == 'Activated' %}
                                          <button name="deactivate_{{ user.Username }}" class="btn btn-danger btn-action" type="submit" {% if user.Username == request.session.user %}disabled{% endif %}>Deactivate</button>
                                          {% elif user.Status == 'Deactivated' %}
                                          <button name="activate_{{ user.Username }}" class="btn btn-success btn-action" type="submit">Activate</button>
                                          {% endif %}
                                      </td>
                                      <td>
                                          {% if user.utype == 'admin' %}
                                          <button name="admin_{{ user.Username }}" class="btn btn-secondary btn-action" type="submit" {% if user.Username == request.session.user %}disabled{% endif %}>Make Normal</button>
                                          {% elif user.utype == 'normal' %}
                                          <button name="normal_{{ user.Username }}" class="btn btn-secondary btn-info btn-action" type="submit">Make Admin</button>
                                          {% endif %}
                                      </td>
                                      <td>
                                          <a class="btn btn-warning btn-action btn-update" style="background-color: #ff9c3d;" href="/updateuser.html?uname={{user.Username}}" role="button">Update</a>
                                      </td>
                                  </tr>
                              </form>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                        
                  </div>
                </div>
            <!-- content-wrapper ends -->
            </div>
            
          <!-- page-body-wrapper ends -->
        </div>
    
          
        
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © </span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">
              Free
            </span>
          </div>
        </footer>
      </div>
    </div>
    <!-- partial -->
  </div>



  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>

  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js'%}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'assets/js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/file-upload.js'%}"></script>
  <script src="{% static 'assets/js/myjs.js'%}"></script>
  <!-- End custom js for this page -->
</div>
</body>

</html>
{%endblock%}